body {
  color: var(--cor-branca);
  background-color: var(--cor-de-fundo);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--cor-de-fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* visibility: hidden;
  opacity: 0; */
}

/* header.active {
  animation: show-header 0.1s linear forwards;
} */

@keyframes show-header {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.logo {
  font-size: 3rem;
  color: var(--cor-branca);
  font-weight: 700;
  transition: 0.5s;
}

nav a {
  font-size: 2rem;
  color: var(--cor-branca);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--cor-principal);
}

#menu-icon {
  font-size: 4rem;
  display: none;
}

/* .bars-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.bars-box .bar {
  width: 100%;
  height: 100%;
  background: var(--cor-de-fundo);
  animation: hide-bars 0.5s ease-in-out both;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes hide-bars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.bars-box.active .bar {
  animation: show-bars 0.5s ease-in-out both;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */

/* ===== SECTIONS ===== */
section {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  padding: 10rem 9% 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(20px);
}

section.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

/* ===== ANIMAÇÃO DE SAÍDA ===== */
section.exit {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
